@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Outfit", sans-serif;
    background-color: #fcfbfc;
    overflow-x: hidden;
}

.btn-primary {
    width: 100%;
    background-color: #431887;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
}

.btn-primary:hover {
    background-color: #6C2BD9;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(108, 43, 217, 0.3);
}

.btn-primary:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(108, 43, 217, 0.2);
}

.text-primary {
    color: #6C2BD9;
}

.text-primary-dark {
    color: #5a23b5;
}